* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #112130;
	font-family: 'Roboto Condensed', sans-serif;
}

.sidebar {
	background-color: #312759;
	color: #7049A5;
}

.sidebar .me {
	font-size: 36pt;
	font-weight: 300;
	color: #905ED6;
	letter-spacing: 3px;
	text-align: center;
	margin: 3% 0 0 1em;
}

.header {
	text-align: center;
	overflow-x: hidden;
}

.avatar {
	background: url(../img/me-1.png) no-repeat 0 0;
	background-size: cover;
	display: none;
	border: 3px solid #802E30;
	border-radius: 50px;
	height: 100px;
	width: 100px;
}

.review {
	color: #90E3C9;
	font-size: 30pt;
	font-weight: 300;
	margin: 7% 0 0 100px;
}

.review .week {
	color: #A98AD6;
	letter-spacing: 4px;
	font-size: 36pt;
}

.review section {
	margin: 40px 0 40px 30px;
}

.review section .title {
	letter-spacing: 7px;
	margin-top: 7px;
	margin-bottom: -21px;
}

.review section .stat {
	font-family: 'Roboto Condensed', sans-serif;
	color: #A3352D;
	font-size: 72pt;
	letter-spacing: 10px;
	margin-bottom: -25px;
}

.review section .small-stat {
	margin-top: -7px;
	font-size: 24pt;
	padding-left: 15px;
}

.small-stat.posts span:last-child {
	color: #A3352D;
}
.small-stat.posts span:first-child {
	color: #A98AD6;
}

@media (min-width: 58em) {
	.avatar {
		border-radius: 75px;
		height: 150px;
		width: 150px;
	}
}
@media (min-width: 48em) {
	.sidebar .me {
		margin: 20% auto 5%;
	}
	.avatar {
		display: block;
		margin: 10px auto 0;
	}
	.content {
		padding: 2em 3em 0;
		margin-left: 29%;
	}

	.header {
		margin: 5% 2em 0;
		text-align: left;
	}

	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
	}
}